body{
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ecf0f1;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-thumb {
	background: #ffffff;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
	background: #ffffff;
}
::-webkit-scrollbar-track{
	background: #ffffff;
	border-radius: 5px;
	box-shadow: inset 7px 10px 12px #f0f0f0;
}

@font-face {
	font-family: "black";
	src: url("../fonts/black.otf");
}

@font-face {
	font-family: "regular";
	src: url("../fonts/regular.ttf");
}

@font-face {
	font-family: "bold";
	src: url("../fonts/bold.ttf");
}

h1{
	font-family: "bold";
	color: #171717;
	font-size: 5vw;
	margin: 0;
}

h2{
	font-family: "bold";
	color: #171717;
	font-size: 2.5vw;
	margin: 0;
}

h3{
	font-family: "regular";
	color: #171717;
	font-size: 1vw;
	margin: 0;
}

header{
	position: fixed;
	height: 10%;
	width: 96%;
	margin-top: 2%;
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 3;
}

#header-bg{
	position: fixed;
	background-color: #171717;
	height: 5.4vw;
	width: 0%;
	right: 2%;
	top: 3.8%;
	transition: width 0.8s ease;
	z-index: 1;
}

#header-logo{
	height: 33%;
	margin-left: 2%;
	z-index: 2;
}
#header-logo:hover{
	cursor: pointer;
}

#header-nav{
	height: 100%;
	width: 40%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
}

#header-nav-button{
	height: 33%;
	margin-right: 2.5%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	transform: rotate(0deg);
	transition: transform 0.5s ease;
	z-index: 2;
}
#header-nav-button:hover{
	cursor: pointer;
}

.header-nav-btn-line{
	background-color: #171717;
	height: 2px;
	width: 25px;
	transform: rotate(0deg);
	transition: transform 0.5s ease;
}

.nav-title{
	color: transparent;
}
.nav-title:hover{
	cursor: pointer;
}

content{
	margin-top: 6%;
	width: 65%;
	display: flex;
	flex-direction: column;
}

.content-title{
	opacity: 0;
	transform: rotate(4deg);
	transform: skew(0deg, 6deg);
	transition: all 2s;
}

.content-title[data-scroll="in"]{
	transform: rotate(0deg); 
	transform: skew(0deg, 0deg);
	opacity: 1;
}

.content-para{
	opacity: 0;
	transform: rotate(4deg);
	transform: skew(0deg, 6deg);
	transition: all 2s;
}

.content-para[data-scroll="in"]{
	transform: rotate(0deg); 
	transform: skew(0deg, 0deg);
	opacity: 1;
}

.project-box{
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-bottom: 15%;
	justify-content: flex-end;
	opacity: 0;
	transform: rotate(4deg);
	transform: skew(0deg, 6deg);
	transition: all 2s;
	z-index: 0;
}

.project-box[data-scroll="in"]{
	transform: rotate(0deg); 
	transform: skew(0deg, 0deg);
	opacity: 1;
}

.project-info{
	position: absolute;
	left: 0;
}

.project-title{
	margin-bottom: 12%;
}

.project-type{
	margin-bottom: 25%;
	margin-left: -10%;
}

.project-img{
	width: 85%;
	z-index: -8;
}

.project-btn{
	width: 6vw;
	height: 6vw;
	margin-left: 29%;
	border: 1px solid #8e44ad;
	box-sizing: border-box;
	border-radius: 3vw;
	display: flex;
	justify-content: center;
	align-items: center; 
}
.project-btn:hover{
	cursor: pointer;
}

.inside-circle{
	background-color: #8e44ad;
	width: 0vw;
	height: 0vw;
	border-radius: 0vw;
	transition: width 0.7s ease, height 0.7s ease, border-radius 0.7s ease;
}

@keyframes rotate360 {
  to { transform: rotate(360deg); }
}

.project-btn-txt{
	position: absolute;
	text-align: center;
	letter-spacing: 0.2vw;
	animation: 4s rotate360 infinite linear;
	transition: all 0.7s;
}

.more-projects{
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 2px solid #171717;
	width: 15vw;
	height: 4vw;
	margin-bottom: 15%;
}
.more-projects:hover{
	cursor: pointer;
}

.more-projects-text{
	position: absolute;
	align-self: center;
}

#more-projects-bg{
	background-color: #171717;
	width: 0%;
	height: 100%;
	align-self: flex-end;
	transition: all 0.5s;
}

.more-infos{
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 2px solid #171717;
	width: 15vw;
	height: 4vw;
	margin-bottom: 15%;
}
.more-infos:hover{
	cursor: pointer;
}

.more-infos-text{
	position: absolute;
	align-self: center;
}

#more-infos-bg{
	background-color: #171717;
	width: 0%;
	height: 100%;
	align-self: flex-end;
	transition: all 0.5s;
}

.veille-5g{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	opacity: 0;
	transform: rotate(4deg);
	transform: skew(0deg, 6deg);
	transition: all 2s;
}

.veille-5g[data-scroll="in"]{
	transform: rotate(0deg); 
	transform: skew(0deg, 0deg);
	opacity: 1;
}

.veille-secu{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	opacity: 0;
	transform: rotate(4deg);
	transform: skew(0deg, 6deg);
	transition: all 2s;
}

.veille-secu[data-scroll="in"]{
	transform: rotate(0deg); 
	transform: skew(0deg, 0deg);
	opacity: 1;
}

.article-info{
	margin-top: 17.4%;
	margin-left: 3.5%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}

.veille-article-div{
	padding-bottom: 1%;
	width: 20.5%;
}
.veille-article-div:hover{
	cursor: pointer;
}

.veille-img{
	width: 100%;
}

.article-date{
	padding-left: 225%;
	transform: rotate(-90deg);
	pointer-events: none;
}

.article-title{
	text-align: center;
	width: 8.1vw;
	background-color: white;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 5%;
	padding-right: 5%;
	color: #171717;
}

footer{
	width: 65%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 3%;
}

.footer-line{
	width: 65%;
	height: 3px;
	background-color: #171717;
	margin-bottom: 3%;
}

.footer-logo{
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.footer-icons{
	font-size: 64px;
}
.footer-icons:hover{
	cursor: pointer;
}